HCNM_BUBBLE_BOX     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-box.png"
HCNM_BUBBLE_CIR     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-cir.png"
HCNM_BUBBLE_DIA     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-dia.png"
HCNM_BUBBLE_ELL     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-ell.png"
HCNM_BUBBLE_HEX     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-hex.png"
HCNM_BUBBLE_OCT     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-oct.png"
HCNM_BUBBLE_PEN     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-pen.png"
HCNM_BUBBLE_REC     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-rec.png"
HCNM_BUBBLE_TRI     RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-tri.png"
HCNM_BUBBLE_MIRROR  RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-mirror.png"
HCNM_EDIT_BUBBLE    RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-edit-bubble.png"
HCNM_EDIT_CNM       RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-edit-cnm.png"
HCNM_EDIT_PGP       RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-edit-pgp.png"
HCNM_EDIT_PN        RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-edit-pn.png"
HCNM_KEY_TABLE      RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-key-table.png"
HCNM_PURGE          RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-purge.png"
HCNM_QT             RCDATA "C:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-qt.png"