HCNM_BUBBLE_BOX RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-box.png"
HCNM_BUBBLE_CIR RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-cir.png"
HCNM_BUBBLE_DIA RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-dia.png"
HCNM_BUBBLE_ELL RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-ell.png"
HCNM_BUBBLE_HEX RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-hex.png"
HCNM_BUBBLE_OCT RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-oct.png"
HCNM_BUBBLE_PEN RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-pen.png"
HCNM_BUBBLE_REC RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-rec.png"
HCNM_BUBBLE_TRI RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-bubble-tri.png"
HCNM_EDIT_CNM   RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-edit-cnm.png"
HCNM_EDIT_PGP   RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-edit-pgp.png"
HCNM_EDIT_PN    RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-edit-pn.png"
HCNM_KEY_TABLE  RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-key-table.png"
HCNM_PURGE      RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-purge.png"
HCNM_QT         RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\cnm-qt.png"