HAWSBLOG_COMMAND1_PNG             RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\hawsblog_light.ico"
HAWSBLOG_COMMAND1_ICO             RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\hawsblog_light.png"