HAWSBLOG_COMMAND1_PNG             RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\hawsblog.ico"
HAWSBLOG_COMMAND1_ICO             RCDATA "E:\\TGHFiles\\programming\\hawsedc\\develop\\Devmenu\\hawsblog.png"
